services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/Kernel.php'

  App\VendingMachine\Domain\Model\VendingMachine:
    factory: ['@App\VendingMachine\Infrastructure\VendingMachineFactory', 'create']
